/* header */
header {
  background-color: #FFF;
  height: 45px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

h1 {
  color: #4b4b4b;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  letter-spacing: 0.25em;
  padding-top: 15px;
  text-transform: uppercase;
}

h6 {
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  bottom: 22px;
}

p.fonts-in-use {
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  letter-spacing: 3px;
  line-height: 2.5em;
  margin: 4rem 0 0 0;
  text-transform: uppercase;
}

section {
  width: 100vw;
  padding: 13rem 0 10rem 0;
  position: relative;
  text-align: center;
}

.week-number {
  width: 25px;
  height: 25px;
  border: 2px solid #212121;
  position: relative;
  margin: 0 auto;
  transform: rotate(45deg);
}

/* week 1 */
#week-one {
  background-color: #F4F2F3;
}

#week-one h2 {
  font-family: 'Lato', sans-serif;
  color: #FF491A;
  font-size: 10em;
  line-height: 160px;
  text-transform: uppercase;
}

#week-one h3 {
  color: #212121;
  font-family: 'Unna', serif;
  font-size: 1.75em;
  letter-spacing: 0.75px;
  line-height: 1.3em;
}

#week-one h3 span {
  color: #599EBB;
}

.fight, .with, .water {
  position: relative;
}

.fight {
  top: 18px;
  margin-top: 50px;
}

.with {
  bottom: 175px;
}

.water {
  bottom: 40px;
}

#week-one a {
  color: #FF491A;
  text-decoration: none;
}

#week-one a:hover {
  color: #FFF;
}

/*week-2*/
#week-two {
  background-color: #DCC634;
}

#week-two .text-layout {
  position: relative;
  margin: 55px auto;
  width: 90%;
}

#week-two h2 {
  color: #FF51A5;
  font-family: 'Open Sans', serif;
  font-size: 14vw;
  font-weight: 800;
  text-transform: uppercase;
}

#week-two span {
  font-size: 18vw;
  letter-spacing: 7px;
}

#week-two h3 {
  color: snow;
  font-family: 'Vollkorn', serif;
  font-size: 3vw;
  letter-spacing: 0.75px;
  line-height: 3.4vw;
  position: absolute;
}

#week-two .one {
  text-align: left;
  top: -13px;
}

#week-two .two {
  text-align: right;
  right: 0;
  bottom: -13px;
}

#week-two a {
  color: #FF51A5;
  text-decoration: none;
}

/* week 3 */
#week-three {
  background-color: #333;
  color: white;
}

#week-three h2{
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 12vw;
  letter-spacing: 3px;
  margin: 8%;
  margin-bottom: 16px;
  text-align: left;
  text-transform: uppercase;
}

#week-three span {
  color: rgba(255, 255, 255, 0.25)
}

#week-three h3 {
  font-family: 'Arvo', serif;
  margin-right: 20%;
  letter-spacing: 1px;
  text-align: right;
}

#week-three a {
  color: orangered;
  text-decoration: none;
}

/* week 4 */
#week-four {
  background-color: #B7E3E4;
  color: #FFF;
}

#week-four .text-layout {
  border: 3px solid #FFF;
  position: relative;
  margin: 40px auto;
  width: 400px;
  height: 400px;
}

#week-four h2 {
  color: #FFF;
  font-family: 'Abril Fatface', serif;
  font-size: 22px;
  letter-spacing: 1.3px;
  line-height: 25px;
  position: absolute;
  right: 15px;
  text-align: left;
  top: 34%;
  z-index: 1;
}

#week-four h3 {
  color: #F03F35;
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 60px;
  font-style: italic;
  position: absolute;
}

#week-four .f {
  top: 40px;
  left: 80px;
}

#week-four .l {
  top: 92px;
  left: 183px;
}

#week-four .y {
  top: 169px;
  left: 102px;
}

#week-four .b {
  top: 290px;
  left: 64px;
}

#week-four .second-y {
  top: 319px;
  left: 236px;
}

#week-four span {
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 15px;
  text-align: right;
}

#week-four a {
  color: #484848;
  text-decoration: none;
}
